.card {
  position: relative;
  width: 325px;
  height: 328px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card__title {
  font-family: "Cabinet Grotesk Bold", sans-serif;
  position: absolute;
  top: 15px;
  margin: 0;
}

.card__image {
  width: 100%;
  object-fit: cover;
}
