.weather-card {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  width: 100%;
  max-width: 1360px;
  height: 80px;
  background-image: url("../../../assets/sunny-day.png");
  background-repeat: no-repeat;
  background-color: #55b7ff;
  border-radius: 16px;
  padding: 20px 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;
}

.weather-card__temperature {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 40px;
  line-height: 48px;
  color: #fff;
  margin: 0;
}
